<ion-view view-title="Track Everything Else">
  <div class="bar bar-subheader">
    <h2 class="title"></h2>
    <button class="button button-icon icon ion-ios-plus-empty" ng-click="newItem()"></button>
  </div>
  <ion-content class="padding has-subheader">
    <!-- <button class="card" ng-click="loadItems()">Load Items</button> -->
    <button class="card" ng-click="loadItems()">loadItems</button>
    <button class="card" ng-click="addEvent('event name')">addEvent</button>

    <div ng-repeat="event in events">
      <p>{{event.event_id}}</p>
      <p>{{event.event_timeStamp}}</p>
      <p>{{event.item_id}}</p>
    </div>
    <div class="card padding" ng-repeat="item in items">
      <h4>{{item.item_name}}</h4>
      <div>Last Completed --
        <!-- <time am-time-ago="item.date"></time> -->
      </div>
      <div>Notes: {{item.item_description}}</div>
      <button class="button button-block button-positive" ng-model="items" ng-click="addEvent(1)"> Do it.</button>

    <div class="button-bar button-outline">
      <!-- <a class="button button-outline button-positive" ng-click="">Edit</a> -->
      <a class="button button-outline button-positive" ng-click="toggleHistory(item)">History</a>
      <a class="button button-outline button-positive" ng-click="deleteItem(item)">Delete</a>
    </div>
    <div ng-show="item.showEventList">
    <div ng-show="item.events.length" class="padding"><strong>History</strong>
      <div ng-repeat="event in item.events">
        <!-- {{event}} -->
        <div>{{event | date : "M/d/yy h:mm a"}}</div>
      </div>
    </div>
    <h4 class="center" ng-hide="item.events.length">No Events Yet!<h4>
  </div>
    </div>
    <!-- <button class="button button-block button-stable"> + Add New Item to Track</button> -->
  </ion-content>

  <script id="new-item.html" type="text/ng-template">
    <div class="modal">
      <!-- Modal header bar -->
<ion-header-bar class="bar-secondary">
  <h1 class="title">New Item</h1>
  <button class="button button-clear button-positive" ng-click="closeNewItem()">Cancel</button>
</ion-header-bar>

<!-- Modal content area -->
<ion-content>

  <form ng-submit="addItem(newitem_name, newitem_description)">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="What do you need to do?" ng-model="newitem_name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Optional Description or Notes" ng-model="newitem_description">
      </label>
    </div>
    <div class="padding">
      <button type="submit" class="button button-block button-positive">Create Item</button>
    </div>
  </form>

</ion-content>
    </div>
  </script>

</ion-view>
