<ion-view view-title="sqliteTest">
  <ion-content class="padding">
    <h4>sqliteTest</h4>


    <div class="list">
      <label class="item item-input">
        <span class="input-label">Item Name: </span>
        <input type="text" ng-model="newitem_name">
      </label>
      <label class="item item-input">
        <span class="input-label">Item decription: </span>
        <input type="text" ng-model="newitem_description">
      </label>
    </div>
    <div>
      <button class="button button-block" ng-click="loadItems()">
        LoadItems()
      </button>
      <button class="button button-block" ng-click="addItem(newitem_name, newitem_description)">
        Add and Display - addItem()
      </button>
      <button class="button button-block" ng-click="deleteEverything()">
        Delete Everything
      </button>
      <p>{{ statusMessage }}</p>
    </div>

    <div ng-repeat="item in items">
      <h4>Name: {{item.item_name}}</h4>
      <p>Description: {{item.item_description}}</p>
      <p>ID: {{item.item_id}}</p>
    </div>



  </ion-content>
</ion-view>
