<ion-view view-title="Track Everything Else">
  <div class="bar bar-subheader padding">
    <button class="button button-clear button-block button-dark" ng-click="newItem()">+ Add New Item</button>
    <!-- <button class="button button-icon icon ion-ios-plus-empty" ng-click="newItem()"></button> -->
  </div>

  <ion-content class="padding has-subheader">
    <div class="card padding" ng-repeat="item in items">
      <h4>{{item.item_name}}</h4>
      <div>Last Completed
        <time am-time-ago="item.date"></time>
      </div>
      <div>Notes: {{item.item_description}}</div>
      <div>Item Id: {{item.item_id}}</div>
      <button class="button button-block button-positive" ng-click="addEvent(item)"> Do it.</button>

      <div class="button-bar button-outline">
        <a class="button button-outline button-positive" ng-click="toggleHistory(item)">History</a>
        <a class="button button-outline button-positive" ng-click="deleteItem(item)">Delete</a>
      </div>

      <div class="padding">
        <strong>History</strong>
        <div ng-repeat="event in events">
          <div>{{event.event_timeStamp}}</div>
        </div>
      </div>

    </div>
  </ion-content>

    <script id="new-item.html" type="text/ng-template">
      <div class="modal">
        <!-- Modal header bar -->
        <ion-header-bar class="bar-secondary">
          <h1 class="title">New Item</h1>
          <button class="button button-clear button-positive" ng-click="closeNewItem()">Cancel</button>
        </ion-header-bar>

        <!-- Modal content area -->
        <ion-content>

          <form ng-submit="addItem(newitem_name, newitem_description)">
            <div class="list">
              <label class="item item-input">
                <input type="text" placeholder="What do you need to do?" ng-model="newitem_name">
              </label>
              <label class="item item-input">
                <input type="text" placeholder="Optional Description or Notes" ng-model="newitem_description">
              </label>
            </div>
            <div class="padding">
              <button type="submit" class="button button-block button-positive">Create Item</button>
            </div>
          </form>

        </ion-content>
      </div>
    </script>

  </ion-view>
